@tailwind base;
@tailwind components;
@tailwind utilities;

/* グローバルな段落スタイル */
p {
  @apply mb-2 mt-4; /* 段落の下にマージンを追加 */
}
/*WordPress用カスタムスタイル*/
.wp-block-table tr td:first-child {
  @apply pr-8; /* テーブルの最初の列に右マージンを追加 */
}
.has-text-align-center{
    @apply text-center; /* テキストを中央揃えにする */
}
.has-text-align-right{
    @apply text-right; /* テキストを右揃えにする */
}
.has-text-align-left{
    @apply text-left; /* テキストを左揃えにする */
}
.has-large-font-size{
    @apply text-2xl; /* テキストを大きくする */
}
.wp-block-image img{
  @apply mt-7 mb-7; /* 画像の上下にマージンを追加 */
}

/* リンク汎用スタイル */
a {
  @apply cursor-pointer
}
/* トップメニュー用スタイル */
.top-menu li a{
  @apply text-custom-yellow hover:text-green-500;
}
/* worksページ用スタイル */
.works-wrapper a{
  @apply text-custom-dark-cyan;
}
.works-wrapper a:hover{
  @apply text-custom-cyan;
}
/* 閉じているときのボタン */
.hamburger-btn, .hamburger-btn span {
  /* display: inline-block; */
  transition: all .5s;
  box-sizing: border-box;
}
.top-menu li a {
    font-size: 16px;
    padding: 10px 12px;
}

/* メニューが開いているときのボタン */
.hamburger-btn.open{
  background-color: transparent;
}

.hamburger-btn.open span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}
.hamburger-btn.open span:nth-of-type(2) {
  opacity: 0;
}
.hamburger-btn.open span:nth-of-type(3) {
  -webkit-transform: translateY(-12px) rotate(45deg);
  transform: translateY(-12px) rotate(45deg);
}
.sp-nav-menu.open{
  background-color: rgba(255, 255, 255, 0.92);
  animation-name: navOpen;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal; 
  animation-fill-mode: forwards; 
}

@keyframes navOpen {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
  }


/* ハンバーガーメニュー閉じる */
.sp-nav-menu.close{
  /* display: none;だとアニメーションが効かない */
  background-color: rgba(255, 255, 255, 0.92);
  animation-name: navHide;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal; 
  animation-fill-mode: forwards;
}


@keyframes navHide {
  0% {
    opacity: 1;
    z-index: 2;
    display: block;
    background-color: rgba(255, 255, 255, 92);
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
    background-color: rgba(255, 255, 255, 0);
  }
}

/* アイコンブルブル */
.icon-img:hover{
  @apply inline-block;
  animation: hurueru .1s  infinite;
}

@keyframes hurueru {
  0% {transform: translate(0px, 0px) rotateZ(0deg)}
  25% {transform: translate(2px, 2px) rotateZ(1deg)}
  50% {transform: translate(0px, 2px) rotateZ(0deg)}
  75% {transform: translate(2px, 0px) rotateZ(-1deg)}
  100% {transform: translate(0px, 0px) rotateZ(0deg)}
}